<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>{% block title %}Camarin{% endblock %}</title>

        {% block stylesheet %}
            <link rel="stylesheet" href="{{ asset('assets/css/materialize.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/introjs.min.css') }}">
        {% endblock %}

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
    </head>

    <body>
        {% include 'CoreBundle::menu.html.twig' %}

        <div class="container">
            <div class="row">
                {% include 'CoreBundle::flash.html.twig' %}

                <div class="section">
                    {% block body_title %}{% endblock %}

                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
            <a class="btn-floating waves-effect waves-light blue darken-2" href="javascript:void(0);" onclick="javascript:introJs().addHints();">
                <i class="material-icons">help_outline</i>
            </a>
        </div>

        {% block javascript %}
            <script src="{{ asset('assets/js/jquery-2.2.1.min.js') }}"></script>
            <script src="{{ asset('assets/js/materialize.min.js') }}"></script>
            <script src="{{ asset('assets/js/intro.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
