<nav class="blue darken-2">
    <div class="nav-wrapper">
        <div class="container">
            <a href="{{ url("core_homepage") }}" class="brand-logo">Camarin</a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if is_granted("ROLE_USER") %}
                    <li><a href="{{ url("fos_user_profile_edit") }}">{{ "core.nav.user.account"|trans }}</a></li>
                    <li><a href="{{ url("fos_user_security_logout") }}">{{ "core.nav.user.logout"|trans }}</a></li>
                {% else %}
                    <li><a href="{{ url("fos_user_security_login") }}">{{ "core.nav.user.login"|trans }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
