{% extends 'CoreBundle:Intervention:layout.html.twig' %}

{%- block actions -%}
    <a {{ "hint.intervention.see.intervention"|hint('top') }} class="waves-effect waves-light btn" href="{{ path('core_intervention_show', { 'id': intervention.id }) }}">{{ 'core.show'|trans }}</a>
    <a {{ "hint.intervention.see.enterprise"|hint('top') }} class="waves-effect waves-light btn" href="{{ path('core_enterprise_show', { 'slug': intervention.enterprise.slug }) }}">{{ intervention.enterprise.name }}</a>

    {% if intervention.plan %}
        <a {{ "hint.intervention.see.plan"|hint('top') }} class="waves-effect waves-light btn" href="{{ path('core_plan_show', { 'id': intervention.plan.id }) }}">{{ 'core.intervention.see.plan'|trans }}</a>
    {% endif %}

    {{ parent() }}
{%- endblock -%}

{% block body_content %}
    <div class="col s6 offset-s3">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

        {% include 'CoreBundle:Template:form/button/edit.html.twig' %}
        {{ form_end(edit_form) }}

        {% include 'CoreBundle:Template:confirm_delete.html.twig' %}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.modal-trigger').leanModal();
            $('select').material_select();
        });
    </script>
{% endblock %}
