{% extends 'CoreBundle:Intervention:layout.html.twig' %}

{%- block actions -%}
    <a class="waves-effect waves-light btn" href="{{ path('core_intervention_show', { 'id': intervention.id }) }}">{{ 'core.show'|trans }}</a>
    {# TODO link to enterprise #}
    {# TODO link to forfait #}
    {{ parent() }}
{%- endblock -%}

{% block body_content %}
    <div class="col s6 offset-s3">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

        {% include 'CoreBundle:Template:form/button/edit.html.twig' %}
        {{ form_end(edit_form) }}

        {% include 'CoreBundle:Template:confirm_delete.html.twig' %}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.modal-trigger').leanModal();
            $('select').material_select();
        });
    </script>
{% endblock %}
