{% extends 'CoreBundle:Intervention:layout.html.twig' %}

{% block body %}

    <div class="col s12">
        <table class="striped">
            <thead>
                <tr>
                    <th>{{ "core.intervention.enterprise"|trans }}</th>
                    <th>{{ "core.intervention.time"|trans }}</th>
                    <th>{{ "core.intervention.date"|trans }}</th>
                    <th>{{ "core.intervention.description"|trans }}</th>
                    <th>{{ "core.action"|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for intervention in interventions %}
                <tr>
                    <td><a href="{{ url('core_enterprise_show', {'slug': intervention.enterprise.slug}) }}">{{ intervention.enterprise.name }}</a></td>
                    <td>{{ intervention|time }}</td>
                    <td>{{ intervention.date|date('d-m-Y') }}</td>
                    <td>{{ intervention.description }}</td>
                    <td>
                        <a class="waves-effect waves-light btn" href="{{ path('core_intervention_show', { 'id': intervention.id }) }}">{{ "core.show"|trans }}</a>
                        <a class="waves-effect waves-light btn orange" href="{{ path('core_intervention_edit', { 'id': intervention.id }) }}">{{ "core.edit"|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
