{% extends 'CoreBundle:Plan:layout.html.twig' %}

{% block body %}

    <div class="col s12">
        <table class="striped">
            <thead>
                <tr>
                    <th>{{ "core.plan.enterprise"|trans }}</th>
                    <th>{{ "core.plan.time"|trans }}</th>
                    <th>{{ "core.plan.expireAt"|trans }}</th>
                    <th>{{ "core.plan.time_left"|trans }}</th>
                    <th>{{ "core.plan.description"|trans }}</th>
                    <th>{{ "core.action"|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for plan in plans %}
                {% set color = (plan.isExpired) ? 'red-text' : 'green-text' %}
                <tr>
                    <td><a href="{{ url('core_enterprise_show', {'slug': plan.enterprise.slug}) }}">{{ plan.enterprise.name }}</a></td>
                    <td>{{ plan.time|date('G\\hi') }}</td>
                    <td class="{{ color }}">{{ plan.expireAt|date('d-m-Y') }}</td>
                    <td>0 {# TODO time_left #}</td>
                    <td>{{ plan.description }}</td>
                    <td>
                        <a class="waves-effect waves-light btn" href="{{ path('core_plan_show', { 'id': plan.id }) }}">{{ "core.show"|trans }}</a>
                        <a class="waves-effect waves-light btn orange" href="{{ path('core_plan_edit', { 'id': plan.id }) }}">{{ "core.edit"|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
