{% extends 'CoreBundle::layout.html.twig' %}

{% block body %}

    {% if orphan_interventions is not empty %}
    <div {{ "hint.intervention.uncounted"|hint('left') }} class="col s12">
        <h4>{{ "core.enterprise.orphan_interventions"|trans }}</h4>
        {% include 'CoreBundle:Template:list_interventions.html.twig' with {'real_time': true, 'interventions': orphan_interventions, 'with_enterprise': true, 'with_action': false} %}
    </div>
    {% endif %}

    <div class="col s6">
        <h4>{{ "core.enterprise.last_interventions"|trans }}</h4>
        {% include 'CoreBundle:Template:list_interventions.html.twig' with {'interventions': last_interventions, 'with_enterprise': true, 'with_action': false} %}
    </div>

    <div {{ "hint.plan.next_expire"|hint }} class="col s6">
        <h4>{{ "core.plan.next_expired"|trans }}</h4>
        {% include 'CoreBundle:Template:list_plans.html.twig' with {'plans': next_expired_plans, 'with_enterprise': true, 'with_action': false} %}
    </div>
{% endblock %}
