{% extends 'CoreBundle:Enterprise:layout.html.twig' %}

{% block actions %}
    <a class="modal-trigger waves-effect waves-light btn green" href="#addEnterprise">{{ "core.enterprise.add"|trans }}</a>
{% endblock %}

{% block body_content %}

    <div class="col s12">
        <table class="striped">
            <thead>
                <tr>
                    <th>{{ "core.enterprise.name"|trans }}</th>
                    <th>{{ "core.enterprise.contact"|trans }}</th>
                    <th>{{ "core.enterprise.time_left"|trans }}</th>
                    <th>{{ "core.action"|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for enterprise in pagination %}
                <tr>
                    <td>{{ enterprise.name }}</td>
                    <td>{{ enterprise.contact }}</td>
                    <td>{{ enterprise|time_enterprise }}</td>
                    <td>
                        <a class="waves-effect waves-light btn" href="{{ path('core_enterprise_show', { 'slug': enterprise.slug }) }}">{{ "core.show"|trans }}</a>
                        <a class="waves-effect waves-light btn orange" href="{{ path('core_enterprise_edit', { 'slug': enterprise.slug }) }}">{{ "core.edit"|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col s12 center-align">
        {{ knp_pagination_render(pagination) }}
    </div>

    {% include 'CoreBundle:Template:modal_add_enterprise.html.twig' %}

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.modal-trigger').leanModal();
        });
    </script>
{% endblock %}
