{% extends 'CoreBundle:Enterprise:layout.html.twig' %}

{%- block content_title -%}
    {{ enterprise.name }}
{%- endblock -%}

{%- block actions -%}
    <a class="waves-effect waves-light btn orange" href="{{ path('core_enterprise_edit', { 'slug': enterprise.slug }) }}">{{ 'core.edit'|trans }}</a>
    {% include 'CoreBundle:Template:confirm_delete.html.twig' %}
    {{ parent() }}
{%- endblock -%}

{% block body_content %}

    <div class="col s5">
        <div class="card-panel">
            {{ "core.enterprise.time_left"|trans }} : 0h {# TODO #}
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.modal-trigger').leanModal();
        });
    </script>
{% endblock %}
