{% extends 'CoreBundle:Enterprise:layout.html.twig' %}

{%- block content_title -%}
    {{ enterprise.name }}
{%- endblock -%}

{%- block actions -%}
    <a class="waves-effect waves-light btn dropdown-button green" href='#' data-activates='menuPlan'>{{ "core.plan.dropdown"|trans }}</a>

    <ul id="menuPlan" class='dropdown-content'>
        <li><a class="modal-trigger" href="#addPlan">{{ "core.plan.add"|trans }}</a></li>
        <li><a href="#!">{{ "core.plan.see"|trans }}</a></li> {# TODO #}
    </ul>

    <a class="waves-effect waves-light btn orange" href="{{ path('core_enterprise_edit', { 'slug': enterprise.slug }) }}">{{ 'core.edit'|trans }}</a>
    {% include 'CoreBundle:Template:confirm_delete.html.twig' %}
    {{ parent() }}
{%- endblock -%}

{% block body_content %}

    <div class="col s5">
        <div class="card-panel">
            <strong>{{ "core.enterprise.time_left"|trans }}</strong> : 0h {# TODO #}
        </div>

        <h4>{{ "core.enterprise.current_plan"|trans }}</h4>
        {% if current_plans is not empty %}
            <ul class="collection">
                {% for plan in current_plans %}
                    <li class="collection-item">
                        <div>
                            <div>
                                <strong>{{ "core.enterprise.time"|trans }}</strong> : {{ plan.time|date('H\\hi') }}
                                <span class="right"><strong>{{ "core.enterprise.expire_at"|trans }}</strong> : {{ plan.expireAt|date('d/m/Y') }}</span>
                            </div>

                            {{ plan.description }}
                            <a href="#!" class="secondary-content"><i class="material-icons">mode edit</i></a> {# TODO link edit #}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {{ "core.enterprise.no_plan"|trans }}
        {% endif %}
    </div>

    <!-- Modal Structure -->
    <div id="addPlan" class="modal">
        <div class="modal-content">
            <h4>{{ "core.confirm.add_plan"|trans }}</h4>

            {{ form_start(add_plan_form) }}
                {{ form_row(add_plan_form.time, {'size': 's5'}) }}
                {{ form_row(add_plan_form.expireAt, {'size': 's7'}) }}
                {{ form_row(add_plan_form.description) }}
                {% include 'CoreBundle:Form:button/new.html.twig' %}
            {{ form_end(add_plan_form) }}
        </div>

        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">{{ "core.close"|trans }}</a>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.modal-trigger').leanModal();
            $('select').material_select();
        });
    </script>
{% endblock %}
