{% set with_enterprise = with_enterprise|default(false) %}
{% set with_action = (with_action is defined) ? with_action : true %} {# default doesn't work when you send false (because is false == "empty") #}
{% set real_time = real_time|default(false) %}

<table class="striped">
    <thead>
    <tr>
        {% if with_enterprise %}
        <th>{{ "core.intervention.enterprise"|trans }}</th>
        {% endif %}
        <th>{{ "core.intervention.time"|trans }}</th>
        <th>{{ "core.intervention.date"|trans }}</th>
        <th>{{ "core.intervention.description"|trans }}</th>
        {% if with_action %}
        <th {{ "hint.intervention.actions"|hint }}>{{ "core.action"|trans }}</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for intervention in interventions %}
        <tr>
            {% if with_enterprise %}
            <td><a href="{{ url('core_enterprise_show', {'slug': intervention.enterprise.slug}) }}">{{ intervention.enterprise.name }}</a></td>
            {% endif %}
            <td>{{ intervention|time(real_time) }}</td>
            <td>{{ intervention.date|date('d-m-Y') }}</td>
            <td>{{ intervention.description }}</td>
            {% if with_action %}
            <td>
                <a class="waves-effect waves-light btn" href="{{ path('core_intervention_show', { 'id': intervention.id }) }}">{{ "core.show"|trans }}</a>
                <a class="waves-effect waves-light btn orange" href="{{ path('core_intervention_edit', { 'id': intervention.id }) }}">{{ "core.edit"|trans }}</a>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
