<!-- Modal Structure -->
<div id="addPlan" class="modal">
    <div class="modal-content">
        <h4>{{ "core.confirm.add_plan"|trans }}</h4>

        {{ form_start(add_plan_form) }}
        {{ form_row(add_plan_form.time, {'size': 's5'}) }}
        {{ form_row(add_plan_form.expireAt, {'size': 's7'}) }}
        {{ form_row(add_plan_form.description) }}
        {% include 'CoreBundle:Template:form/button/new.html.twig' %}
        {{ form_end(add_plan_form) }}
    </div>

    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">{{ "core.close"|trans }}</a>
    </div>
</div>
